<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.mapper.StudentMapper">
    <insert id="insert">
        insert into student(name,no,gender,phone,degree,clazz_id,id_card,is_college,address,graduation_date,create_time,update_time) values
        (#{name},
         #{no},
         #{gender},
         #{phone},
         #{degree},
         #{clazzId},
         #{idCard},
         #{isCollege},
         #{address},
         #{graduationDate},
         #{createTime},
         #{updateTime}
         )
    </insert>
    <update id="update">
        update student
        <set>
            name = #{name},
            no = #{no},
            phone = #{phone},
            gender = #{gender},
            degree = #{degree},
            <if test="idCard != null and idCard != ''"> id_card = #{idCard},</if>
            <if test="isCollege != null"> is_college = #{isCollege},</if>
            <if test="address != null and address != ''"> address = #{address}, </if>
            <if test="graduationDate != null">graduation_date = #{graduationDate},</if>
            violation_count = #{violationCount},
            violation_score = #{violationScore},
            clazz_id = #{clazzId},
        </set>
        where id = #{id}

    </update>
    <update id="updateScore">
        update student set violation_score=#{score},violation_count=#{count} where id = #{id}
    </update>
    <delete id="delete">
        delete from student where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <select id="list" resultType="com.itheima.entity.vo.Student">
        select t1.*,t2.name clazzName from student t1 left join clazz t2 on t1.clazz_id=t2.id
        <where>
            <if test="name !=null and name != ''"> t1.name like concat('%', #{name}, '%')</if>
            <if test="degree != null"> and t1.degree = #{degree}</if>
            <if test="clazzId != null"> and t1.clazz_id = #{clazzId}</if>
        </where>
        order by t1.update_time desc
    </select>
    <select id="getById" resultType="com.itheima.entity.vo.Student">
        select * from student where id = #{id}
    </select>
    <select id="studentCountData" resultType="java.util.Map">
        select c.name classname,count(*) dataList from student s1 left join clazz c on s1.clazz_id = c.id group by s1.clazz_id
    </select>
    <select id="studentDegreeData" resultType="java.util.Map">
        select (case degree
                    when 1 then '初中'
                    when 2 then '高中'
                    when 3 then '大专'
                    when 4 then '本科'
                    when 5 then '硕士'
                    when 6 then '博士'
            end ) name,count(*) value from student group by degree
    </select>
    <select id="selectByClazzId" resultType="java.lang.Integer">
        select count(*) from student where clazz_id = #{id}
    </select>
</mapper>